body {
;x    background-color: #58a;
;x    background-image: url("/images/background.png");
;x    background-repeat: repeat-x;
}

div.body {
    margin-left: 20%;
    padding: 1.5em;
}

/* Links */

div.links {
    float: left;
    width: 20%;
}

div.links ul {
    background-color: #eee;
    -moz-border-radius: 3px;
    border: 2px solid #999;
    padding: 0.2em;
    margin: 0.2em;
    list-style-type: none;
}

div.links ul a {
    padding-right: 12px;
    padding-left: 6px;
    margin: 0.15em;
    display: block;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    color: #fff;
    -moz-border-radius: 3px;
}

div.links ul.myLinks a.notCurrent {
    border: 2px solid #00b;
    background-color: #58c;
}

div.links ul.myLinks a.current {
    border: 2px solid #00b;
    background-color: #56f;
}

div.links ul.otherLinks a.notCurrent {
    border: 2px solid #0b0;
    background-color: #5c8;
}

div.links ul.otherLinks a.current {
    border: 2px solid #0b0;
    background-color: #5f6;
}

div.links ul.myLinks a.notCurrent:hover {
    background-color: #ccd;
    color: #371C1C;
}

div.links ul.otherLinks a.notCurrent:hover {
    background-color: #cdc;
    color: #371C1C;
}



/* Links - END */

div.my_quizzes {
    max-width: 700px;
    background-color: #66f;
    border: 3px solid #000;
    font-size: 90%;
    -moz-border-radius: 7px;
}

div.quiz {
    margin: 2px;
    padding-left: 8px;
    background-color: #ccf;
    ;border: 1px solid #448;
    -moz-border-radius: 5px;
}

/* Sign in / Sign out row */
div.log {
    text-align: right;
    font-size: 70%;
}
/* Sign in / Sign out row - END */


/* Logo */

p.logo {
    text-align: center;
}

p.logo img {
    margin: 0.5em;
    padding: 0.2em;
    background-color: #ccf;
    -moz-border-radius: 5px;
}

/* Logo - END */

;x div.form {
    padding: 0.5em;
    background-color: #33aa88;
    border: 3px solid #000;
    -moz-border-radius: 3px;
    display: inline;
}

;x p.prompt {
    display: inline;
    margin-right: 0.5em;
}

span.input {
}


label
{
width: 5em;
float: left;
text-align: right;
margin-right: 1.5em;
display: block
}

p.submit {
    text-align: right;
    margin-right: 2.5em;
}

.submit input
{
}
input
{
background-color: #ccf;
border: 1px solid #781351
}

.submit input
{
color: #fff;
background-color: #56f;
border: 2px outset #d7b9c9
}
fieldset
{
border: 1px solid #781351;
width: 20em
}

legend
{
background-color: #56f;
color: #fff;
border: 1px solid #781351;
padding: 2px 6px
} 
