body {
;x    background-color: #2f3693;
;x    background-image: url("/images/background.png");
;x    background-repeat: repeat-x;
}

table {
    width: 100%;
}

td {
    padding: 0.3em;
    vertical-align: top;    
}

td.body {
    
    padding: 1em 0.3em;
}

/* Links */

td.links {
    width: 200px;
}

td.links ul {
    padding: 0.2em;
    list-style-type: none;
    margin: 0.3em;
;x    background-color: #aac;
;x    -moz-border-radius: 3px;
}

td.links ul a {
    padding-right: 32px;
    padding-left: 32px;
    display: block;
    line-height: 45px;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 21px;
    color: #fff;
    border: 2px solid #000;
}

td.links ul.myLinks a {
    background-color: #58c;
}

td.links ul.otherLinks a {
    background-color: #5c8;
}

td.links ul.myLinks a:hover {
    background-color: #ccd;
    color: #371C1C;
}

td.links ul.otherLinks a:hover {
    background-color: #cdc;
    color: #371C1C;
}



/* Links - END */

table.form {
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: #33aa88;
    border: 3px solid #000;
    -moz-border-radius: 7px;
}

div.my_quizzes {
    max-width: 700px;
    background-color: #66f;
    border: 3px solid #000;
    font-size: 90%;
    -moz-border-radius: 7px;
}

div.quiz {
    margin: 2px;
    padding-left: 8px;
    background-color: #ccf;
    ;border: 1px solid #448;
    -moz-border-radius: 5px;
}






/* Logo */

p.logo {
    text-align: center;
}

p.logo img {
    margin: 0.3em;
    padding: 0.2em;
    background-color: #ccf;
    -moz-border-radius: 5px;
}

/* Logo - END */
