body {
;x    background-color: #58a;
;x    background-image: url("/images/background.png");
;x    background-repeat: repeat-x;
}

table {
    width: 100%;
}

td {
    padding: 0.3em;
    vertical-align: top;    
}

td.body {   
;x    background-color: #fff;
;x    -moz-border-radius: 3px;
}

/* Links */

td.links {
    width: 160px;
}

td.links div.links {
    background-color: #eee;
    -moz-border-radius: 3px;
    border: 2px solid #999;
}

td.links ul {
    -moz-border-radius: 3px;
    padding: 0.2em;
    list-style-type: none;
    margin: 0.1em;
}

td.links ul a {
    padding-right: 12px;
    padding-left: 6px;
    margin: 0.15em;
    display: block;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    color: #fff;
    -moz-border-radius: 3px;
}

td.links ul.myLinks a.notCurrent {
    border: 2px solid #00b;
    background-color: #58c;
}

td.links ul.myLinks a.current {
    border: 2px solid #00b;
    background-color: #56f;
}

td.links ul.otherLinks a.notCurrent {
    border: 2px solid #0b0;
    background-color: #5c8;
}

td.links ul.otherLinks a.current {
    border: 2px solid #0b0;
    background-color: #5f6;
}

td.links ul.myLinks a.notCurrent:hover {
    background-color: #ccd;
    color: #371C1C;
}

td.links ul.otherLinks a.notCurrent:hover {
    background-color: #cdc;
    color: #371C1C;
}



/* Links - END */

table.form {
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: #33aa88;
    border: 3px solid #000;
    -moz-border-radius: 7px;
}

div.my_quizzes {
    max-width: 700px;
    background-color: #66f;
    border: 3px solid #000;
    font-size: 90%;
    -moz-border-radius: 7px;
}

div.quiz {
    margin: 2px;
    padding-left: 8px;
    background-color: #ccf;
    ;border: 1px solid #448;
    -moz-border-radius: 5px;
}

/* Sign in / Sign out row */
tr.log {
    text-align: right;
    font-size: 70%;
}
/* Sign in / Sign out row - END */


/* Logo */

p.logo {
    text-align: center;
}

p.logo img {
    margin: 0.5em;
    padding: 0.2em;
    background-color: #ccf;
    -moz-border-radius: 5px;
}

/* Logo - END */
