<html>
    <head>
        <title>QuizCon</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/> 
    </head>
    <body>
        <div class="wrapper">
        <div class="log">
            <p class="log">
                {{ nickname }} <a href="{{ log_link }}">{{ log_text }}</a>
            </p>
        </div>

        <div class="heading">
            <p class="logo">            
                <a href="{{ base_uri }}"><img src="/images/logo.png" alt="QuizCon"/></a>
            </p>
        </div>
        <div class="links">
            {{ links }}
        </div>
        <div class="body">                    
            {{ body }}
        </div>
        </div>
    </body>
</html>
