<html>
    <head>
        <title>QuizCon</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/> 
    </head>
    <body>

        <table>            
            <tr class="log">
                <td colspan = "2">
                    <p>
                        {{ nickname }} <a href="{{ log_link }}">{{ log_text }}</a>
                    </p>
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    <p class="logo">            
                        <a href="http://quizcon.appspot.com/"><img src="/images/logo.png" alt="QuizCon"/></a>
                    </p>
                </th>
            </tr>
            <tr>
                <td class="links">
                    <ul class="myLinks">
                        <li><a href="/my/profile/">My Profile</a></li>
                        <li><a href="/my/quizlist">My Quizzes</a></li>
                    </ul>
                    <ul class="otherLinks">
                        <li><a href="/quiz/quizlist">Quizzes</a></li>
                    </ul>

                </td>
                <td class="body">
                    {{ body_text }}
                </td>                
            </tr>
        </table>
    </body>
</html>
