<p class="options">
    <a href="#" onClick="document.getElementById('title').focus(); return false">Create a Quiz</a>
</p>
<div class="my_quizzes">
{{ quiz_list }}
</div>

<a name="createQuiz"/>
<form action="/post/quiz/create_quiz" name="createQuiz" method="post">
    <div class="form">
        <fieldset>
        <legend>Create a new quiz?</legend>
        <p class="prompt">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title"/>
        </p>
        
        <p class="prompt">
            <label for="description">Description:</label>
            <input type="text" name="description"/>
        </p>
       
       <p class="prompt">
            <label for="category">Category:</label>
            <select name="category">
                <option value="history">History</option>
                <option value="maths">Mathematics</option>
                <option value="media">Media (Music, TV, etc.)</option>
                <option value="sci_tech">Science/Tech</option>
                <option value="youtube">YouTube</option>
            </select>        
        </p>
        <p class="submit">
            <input type="submit" value="Create Quiz"/>
        </p>
    </fieldset>
</form>

