<p>
    I've created <a href="/my/quiz_list"> {{ quiz_list_size }} quizzes</a>
</p>

<form>
    <div class="form">
        <span class="prompt">
            <p class="prompt">        
                Category:
            </p>
        </span>
        <span class="input">
            <select name="category">
                <option value="history">History</option>
                <option value="maths">Mathematics</option>
                <option value="media">Media (Music, TV, etc.)</option>
                <option value="sci_tech">Science/Tech</option>
                <option value="youtube">YouTube</option>
            </select>        
        </span>
        <p>
            <input type="submit" value="Create Quiz"/>
        </p>
    </div>
</form>
